<# Macros consumed by cover/main.tex. #>
\newcommand{\myname}{<< profile.name|tex >>}
\newcommand{\mytitle}{<< title|tex >>}
\newcommand{\myemail}{<< profile.email >>}
\newcommand{\mylinkedin}{<< profile.linkedin >>}
\newcommand{\myphone}{<< phone_plain|tex >>}
\newcommand{\mylocation}{<< profile.location|tex >>}
\newcommand{\recipient}{<< recipient|tex >>}
\newcommand{\greeting}{<< greeting|tex >>}
\newcommand{\closer}{<< closer|tex >>}

\newcommand{\company}{<< company|tex >>}
\newcommand{\street}{<< street|tex >>}
\newcommand{\city}{<< city|tex >>}
\newcommand{\state}{<< state|tex >>}
\newcommand{\zip}{<< zip|tex >>}
